.marquee {
  &__track {
    width: fit-content;
    animation: marquee-desktop
      calc(var(--card-speed, 3s) * var(--card-count, 6)) linear infinite;
  }

  &__grid {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    width: fit-content;
    gap: 1rem;
  }

  &__card {
    /* visibility: hidden; */

    &__clone {
      visibility: visible;
    }

    &:nth-of-type(2) {
      z-index: 20;
    }
  }
}

@keyframes marquee-desktop {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(calc(-50% - 16px), 0, 0);
  }
}
