:root {
  /* General stuff */
  --max-width: 144rem;
  --header-height: 7rem;
  --border-radius: 12px;

  /* Fonts */
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* Base colours */
  --white-rgb: 255 255 255;
  --white: rgb(var(--white-rgb));
  --black-rgb: 16 16 16;
  --black: rgb(var(--black-rgb));
  --grey-rgb: 67 67 67;
  --grey: rgb(var(--grey-rgb));

  /* General colours */
  --background: var(--white);
  --background-rgb: var(--white-rgb);
  --foreground: var(--black);
  --foreground-rgb: var(--black-rgb);
}

/* Dark mode support */
.dark {
  --background: var(--black);
  --background-rgb: var(--black-rgb);
  --foreground: var(--white);
  --foreground-rgb: var(--white-rgb);
}

/* Resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  color-scheme: light;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  border: 0;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
}

/* Body */
body {
  color: var(--foreground);
  background: var(--background);
  font-size: 1.6rem;
}

/* Container */
.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}

/* Push first component down below header */
header ~ main {
  margin-top: var(--header-height);
}
