:root {
  /* BASE colours */
  --black-rgb: 16 16 16;
  --black: rgb(var(--black-rgb));
  --white-rgb: 255 255 255;
  --white: rgb(var(--white));
  --grey-rgb: 67 67 67;
  --grey: rgb(var(--grey-rgb));

  /* THEME colours */
  --background: var(--white);
  --foreground: var(--black);
}

[data-theme="dark"] {
  --background: var(--black);
  --foreground: var(--white);
}

body {
  background: var(--background);
  color: var(--foreground);
}
