/**
  * Resets
  * ===============
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 10px;
  color-scheme: light;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
  line-height: 1;
  font-weight: normal;
}

button {
  border: 0;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
}
