.youtube {
  position: relative;

  &__wrapper {
    opacity: 0;
    visibility: hidden;
    position: relative;
    z-index: 20;
  }

  &__embed {
    aspect-ratio: 16/9;
    overflow: hidden;
    pointer-events: none;
  }

  &__poster {
    z-index: 10;
    opacity: 0;
    visibility: hidden;
  }
}
